<header class="c-header">
  <div class="l-container">
    <div class="c-header__row">
      <div class="c-header__col c-header__col--logobox">
        <a href="/" class="c-header__logo">
          <img src="{{ ctx.static_path }}/images/logo.png" alt="{{ ctx.company }}">
        </a>
      </div>
      <div class="c-header__col">
        <nav class="c-header__menu">
          <a href="/about" class="c-header__menu-item">О базе отдыха</a>
          <a href="/rent" class="c-header__menu-item">Аренда домиков</a>
          <a href="/contacts" class="c-header__menu-item c-header__menu-item--last">Контакты</a>
        </nav>
      </div>
      <div class="c-header__col c-header__col--contacts">
        <div class="c-header__contacts">
          <a href="tel: +73466499204" class="c-header__tel">+7 (3466) 499-204</a>
          <div class="c-header__infotext">
            Мы принимаем звонки с&nbsp;9:00
            <br>до&nbsp;22:00 без выходных
          </div>
        </div>
      </div>
    </div>
    <div class="c-header__bird-box">
      <div class="c-header__bird"></div>
      <div class="c-header__cloud"></div>
    </div>
  </div>
</header>