<section class="c-hero">
	<div class="c-hero__sun"></div>
	<div class="c-hero__container l-container">
	  <h1 class="c-hero__title">База отдыха,<br> которую вы искали!</h1>
	  <div class="c-hero__houses">
	    <a class="c-hero__house c-hero__house--1" href="/odnojetazhnye_doma">
	      <div class="c-hero__house-data">
	        <div class="c-hero__label">Домики
	          <br/>одноэтажные</div>
	        <div class="c-hero__info">до 12 человек</div>
	      </div>
	      <div class="c-hero__imgbox">
	        <img src="{{ ctx.static_path }}/images/c-hero--h1.png" class="c-hero__img" alt="Домики одноэтажные">
	      </div>
	    </a>
	    <a class="c-hero__house c-hero__house--2" href="/banja_odnojetazhnaja">
	      <div class="c-hero__house-data">
	        <div class="c-hero__label">Баня
	          <br/>одноэтажная</div>
	        <div class="c-hero__info">до 10 человек</div>
	      </div>
	      <div class="c-hero__imgbox">
	        <img src="{{ ctx.static_path }}/images/c-hero--h2.png" class="c-hero__img" alt="Баня одноэтажная">
	      </div>
	    </a>
	    <div class="c-hero__house c-hero__house--3">
	      <div class="c-hero__imgbox">
	        <img src="{{ ctx.static_path }}/images/c-hero--h3.png" class="c-hero__img" alt="">
	      </div>
	    </div>
	    <a class="c-hero__house c-hero__house--4" href="/kottedzhi">
	      <div class="c-hero__house-data">
	        <div class="c-hero__label">Коттеджи
	          <br/>двухэтажные</div>
	        <div class="c-hero__info">до 30 человек</div>
	      </div>
	      <div class="c-hero__imgbox">
	        <img src="{{ ctx.static_path }}/images/c-hero--h4.png" class="c-hero__img" alt="Коттеджи двухэтажные">
	      </div>
	    </a>
	    <a class="c-hero__house c-hero__house--5" href="/bani_s_biljardom">
	      <div class="c-hero__house-data">
	        <div class="c-hero__label">Бани с бильярдом
	          <br/>на берегу озера</div>
	        <div class="c-hero__info">до 30 человек</div>
	      </div>
	      <div class="c-hero__imgbox">
	        <img src="{{ ctx.static_path }}/images/c-hero--h5.png" class="c-hero__img" alt="Коттеджи двухэтажные">
	      </div>
	    </a>
	  </div>
	  <div class="c-hero__flag">
	  	<span class="c-hero__flag-img"></span>
	  	<div class="c-hero__flag-text">
	  		Приглашаем всех на весёлый праздник масленицы <a href="#">в&nbsp;эти выходные!</a>
	  	</div>
	  </div>
	  <div class="c-hero__decor">
	  	<div class="c-hero__decor-cloud"></div>
	  	<div class="c-hero__decor-bird">
	  		<i class="c-icon c-icon--bird"></i>
	  	</div>
	  	<div class="c-hero__decor-tip"></div>
	  </div>
  </div>
</section>