<div class="c-map">
  <div class="c-map__content">
    <img class="c-map__logo" src="/images/logo.png" alt="{{ ctx.company }}">
    <p class="c-map__addr">Нижневартовск — Радужный, Автодорога, 1Б</p>
    <p class="c-map__contacts">
      <a class="c-map__tel" href="tel: +73466499204">+7 (3466) 499-204</a>
      <small>Работаем с 9:00 до 22:00 <br>без выходных</small>
    </p>
    <a class="c-map__yandex" href="#">
    <i class="c-icon c-icon--marker"></i>Показать <br>на Яндекс-карте</a>
  </div>
  <img src="/images/map.png" class="c-map__image" alt="Карта">
</div>