<div class="c-plan__wrapper u-mb40">
	<div class="c-plan__container l-container">
		<div class="c-adds">
			<div class="c-adds__title">А ещё у нас есть!`</div>
			<div class="c-adds__content">
				<div class="c-adds__icons">
					{%- set icons = ["mangal", "eat", "swim", "boat", "bycicle", "walley", "sky", "konek", "sani" ] -%}
					{%- for item in icons %}
					<div class="c-adds__icons-item">
					  <i class="c-icon c-icon--{{ item }}"></i>
					</div>
					{% endfor -%}
				</div>
				<div class="c-adds__text">
					Пляж для купания, прокат катамаранов и лодок, кафе, бильярд, комната отдыха, детская площадка, футбол, волейбол, баскетбол, велопрогулки, аренда тюбингов, каток и лыжи зимой, живая природа, прогулки в лесу, белки и пение птиц!
				</div>
			</div>
			<div class="c-adds__footer">
				<i class="c-icon c-icon--bird1"></i>
			</div>
		</div>
		<div class="c-plan c-plan--withtips c-plan--abs">
			<div class="c-plan__bg"></div>
			<div class="c-plan__objects">
				{%- for obj in ctx.plan %}
					<div data-position="{{ obj.type }}-{{ obj.pos }}" class="c-plan__unit  c-plan__unit--type-{{ obj.type }}">
						<div class="c-icon c-icon--plan-{{ obj.type }}"></div>
						<div class="c-plan__unit-content">
							<div class="c-plan__tip">
								<div class="c-plan__tip-img"><img src="{{ ctx.static_path }}/images/{{ obj.img }}" alt=""></div>
								<div class="c-plan__tip-title">{{ obj.title }}</div>
								<div class="c-plan__tip-text">{{ obj.text }}</div>
							</div>
								
						</div>
					</div>
				{% endfor -%}
			</div>
		</div>
	</div>
</div>