{%- extends "./layouts/main.html" -%}
{%- block content -%}
{%- include "components/hero.html" %}
<div class="l-container">
	<div class="u-text-center">
		<div class="u-mb10">
			<i class="c-icon c-icon--pine-cone"></i>
		</div>	
		<h2 class="c-h2">
			Любые торжества, спортивные соревнования, <br>корпоративы или отдых с детьми!
		</h2>
		<div class="c-intro-text">
			<p>База отдыха &laquo;Черная горка&raquo; создана, чтобы вдохновлять и&nbsp;побуждать всех, приходящих сюда, к&nbsp;комфортному отдыху, полноценному восстановлению сил, получению заряда бодрости. Проведённый досуг спустя время превращается в&nbsp;незабываемые воспоминания, о&nbsp;которых хочется рассказывать всем. И&nbsp;на&nbsp;вопрос: &laquo;Где приобщиться к&nbsp;природе?&raquo;, остается только один ответ&nbsp;&mdash; База отдыха &laquo;Черная горка&raquo;.</p>
			<p><a href="#" class="j-showintro">Подробнее</a></p>
		</div>
		<div class="c-intro">
			<div class="c-intro__inner">
				<div class="c-intro__header"><i class="c-icon c-icon--arrd"></i></div>
				<p>Мы&nbsp;расположены в&nbsp;тихом месте, на&nbsp;берегу живописного озера, окруженного хвойным лесом, где щебечут птицы, а&nbsp;воздух пропитан незабываемым запахом тайги. Сюда съезжаются даже&nbsp;те, кто избалован морем, солнцем и&nbsp;теплом.</p>
				<p>С&nbsp;самых первых минут своего посещения база отдыха даёт понять своим гостям, что здесь не&nbsp;боятся экспериментировать. Публику удивят и&nbsp;порадуют:</p>
				<ul>
					<li>Банные комплексы с выходом на озеро;</li>
					<li>Уютные гостевые домики и коттеджи;</li>
					<li>Гриль-зоны с мангалами для шашлыка;</li>
					<li>Музыка (в банях, коттеджах, гостевых домах);</li>
					<li>Детская площадка;</li>
					<li>Летом аренда велосипедов, катамаранов, лодок, скандинавских палок для ходьбы, зимой коньков, лыж, тюбингов;</li>
					<li>Баскетбол, футбол, волейбол, катание на коньках и много другое…</li>
				</ul>
				<p>На&nbsp;базе отдыха, каждому найдется занятие по&nbsp;душе. Мы&nbsp;старались сделать так, что&nbsp;бы родители не&nbsp;переживали за&nbsp;своих чад, а&nbsp;последние не&nbsp;ускользали от&nbsp;их&nbsp;пристального взгляда, расположив игровые площадки в&nbsp;центре базы отдыха, которые просматриваются практически из&nbsp;любого места.</p>
				<p>Для многих уже стало традицией в&nbsp;ожидании эмоций и&nbsp;приключений приезжать сюда большими компаниями, проводить семейные праздники, яркие банкеты и&nbsp;весёлые корпоративы. База отдыха &laquo;Черная горка&raquo; всё чаще становится особенно полюбившимся местом.</p>
				<p>У&nbsp;фанатов жарких парилок пользуются популярностью банные комплексы. А&nbsp;любители отведать блюда, приготовленные на&nbsp;углях, собираются семьями, друзьями или коллегами в&nbsp;уютных гостевых домах и&nbsp;коттеджах, отдыхать, общаться на&nbsp;приятные темы. Разве это не&nbsp;отличное занятие в&nbsp;свободное время?!</p>
				<p>Обслуживающий персонал неустанно стремится удовлетворять потребности посетителей, а&nbsp;инфраструктура базы постоянно развивается с&nbsp;целью улучшить комфорт и&nbsp;отдых наших гостей.</p>
				<p>На&nbsp;базе отдыха &laquo;Черная горка&raquo; можно постоянно открывать для себя что-то новое, а&nbsp;лучший способ скрыться от&nbsp;городской суеты? &mdash;&nbsp;Побывать у&nbsp;нас в&nbsp;гостях!</p>
				<div class="c-intro__footer"><a href="#">Скрыть</a></div>
			</div>
		</div>
	</div>
</div>
{%- include "components/plan.html" %}
<div class="l-container u-text-center">
	<h2 class="c-h2">
		Мы ждем вас в гости <span class="u-green u-underline">с 9:00 до 22:00 без выходных</span>
	</h2>
	{%- include "components/map.html" %}
</div>
{%- endblock %}
{%- block pageScripts %}{% endblock -%}
