/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  height: 100%;
}
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  background: #cfcdcd url(../images/pattern_wood.png);
  -webkit-font-smoothing: antialiased;
  min-width: 1024px;
  height: 100%;
}
.l-container {
  width: 1010px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.l-container--expand {
  max-width: 1200px;
  min-width: 1024px;
  width: auto;
}
.l-aside {
  float: left;
  width: 264px;
  min-height: 1px;
}
.l-content {
  float: left;
  width: 680px;
  padding-right: 40px;
}
.l-page {
  min-height: 100%;
  padding-bottom: 80px;
}
.l-whitebox {
  background-color: #fff;
  box-shadow: inset 0px 10px 30px  #000;
}
.l-main {
  padding: 40px;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  margin-top: 40px;
  margin-top: 2.5rem;
  background-color: #fff;
}
.l-main:before,
.l-main:after {
  content: " ";
  display: table;
  clear: both;
}
.l-main__title {
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
.l-top-content {
  background-color: #fff;
  padding: 45px 0;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
.c-h1 {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  font-family: 'Bad Script', cursive;
}
.c-h1--bordered {
  border-bottom: 1px solid #dbdbdb;
}
.c-text {
  max-width: 710px;
  margin: auto;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.556;
}
.c-h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.333;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  font-family: 'Bad Script', cursive;
}
.c-icon {
  display: inline-block;
  background-image: url("../images/c-icon-sprite.png");
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none !important;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* qTip2 v2.2.1 | Plugins: tips viewport imagemap svg modal ie6 | Styles: core basic css3 | qtip2.com | Licensed MIT | Sat Sep 06 2014 18:25:07 */
.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  max-width: 280px;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  direction: ltr;
  box-shadow: none;
  padding: 0;
}
.qtip:after {
  content: "";
  display: block;
  border-top: 10px solid #fff;
  border-left: 12px solid #fff;
  border-bottom: 10px solid transparent;
  border-right: 12px solid transparent;
  top: 100%;
  margin-left: 30px;
  width: 0;
  height: 0;
}
.qtip-content {
  position: relative;
  padding: 20px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 15px;
}
.qtip-titlebar {
  position: relative;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 0 0 1px;
  font-weight: 700;
}
.qtip-titlebar + .qtip-content {
  border-top-width: 0 !important;
}
.qtip-close {
  position: absolute;
  right: -9px;
  top: -9px;
  z-index: 11;
  cursor: pointer;
  outline: medium none;
  border: 1px solid transparent;
}
.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px;
}
* html .qtip-titlebar .qtip-close {
  top: 16px;
}
.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr;
}
.qtip-icon,
.qtip-icon .ui-icon {
  border-radius: 3px;
  text-decoration: none;
}
.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-indent: 0;
  font: 400 bold 10px/13px Tahoma, sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}
.qtip-default {
  color: #555;
}
.qtip-default .qtip-titlebar {
  background-color: #FFEF93;
}
.qtip-default .qtip-icon {
  border-color: #CCC;
  background: #fff;
  color: #777;
}
.qtip-default .qtip-titlebar .qtip-close {
  border-color: #AAA;
  color: #111;
}
.qtip-light {
  background-color: #fff;
  border-color: #E2E2E2;
  color: #454545;
}
.qtip-light .qtip-titlebar {
  background-color: #f1f1f1;
}
.qtip-dark {
  background-color: #505050;
  border-color: #303030;
  color: #f3f3f3;
}
.qtip-dark .qtip-titlebar {
  background-color: #404040;
}
.qtip-dark .qtip-icon {
  border-color: #444;
}
.qtip-dark .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}
.qtip-cream {
  background-color: #FBF7AA;
  border-color: #F9E98E;
  color: #A27D35;
}
.qtip-cream .qtip-titlebar {
  background-color: #F0DE7D;
}
.qtip-cream .qtip-close .qtip-icon {
  background-position: -82px 0;
}
.qtip-red {
  background-color: #F78B83;
  border-color: #D95252;
  color: #912323;
}
.qtip-red .qtip-titlebar {
  background-color: #F06D65;
}
.qtip-red .qtip-close .qtip-icon {
  background-position: -102px 0;
}
.qtip-red .qtip-icon {
  border-color: #D95252;
}
.qtip-red .qtip-titlebar .ui-state-hover {
  border-color: #D95252;
}
.qtip-green {
  background-color: #CAED9E;
  border-color: #90D93F;
  color: #3F6219;
}
.qtip-green .qtip-titlebar {
  background-color: #B0DE78;
}
.qtip-green .qtip-close .qtip-icon {
  background-position: -42px 0;
}
.qtip-blue {
  background-color: #E5F6FE;
  border-color: #ADD9ED;
  color: #5E99BD;
}
.qtip-blue .qtip-titlebar {
  background-color: #D0E9F5;
}
.qtip-blue .qtip-close .qtip-icon {
  background-position: -2px 0;
}
.qtip-shadow {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
  border-radius: 5px;
}
.qtip-rounded .qtip-titlebar {
  border-radius: 4px 4px 0 0;
}
.qtip-youtube {
  border-radius: 2px;
  box-shadow: 0 0 3px #333;
  color: #fff;
  border: 0 solid transparent;
  background: #4A4A4A;
  background-image: -o-linear-gradient(top, #4A4A4A 0, #000 100%);
}
.qtip-youtube .qtip-titlebar {
  background-color: #4A4A4A;
  background-color: rgba(0, 0, 0, 0);
}
.qtip-youtube .qtip-content {
  padding: .75em;
  font: 12px arial, sans-serif;
  filter: progid: DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);";
}
.qtip-youtube .qtip-icon {
  border-color: #222;
}
.qtip-youtube .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}
.qtip-jtools {
  background: #232323;
  background: rgba(0, 0, 0, 0.7);
  background-image: -o-linear-gradient(top, #717171, #232323);
  border: 2px solid #ddd;
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  box-shadow: 0 0 12px #333;
}
.qtip-jtools .qtip-titlebar {
  background-color: transparent;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A)";
}
.qtip-jtools .qtip-content {
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);
}
.qtip-jtools .qtip-titlebar,
.qtip-jtools .qtip-content {
  background: transparent;
  color: #fff;
  border: 0 dashed transparent;
}
.qtip-jtools .qtip-icon {
  border-color: #555;
}
.qtip-jtools .qtip-titlebar .ui-state-hover {
  border-color: #333;
}
.qtip-cluetip {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  background-color: #D9D9C2;
  color: #111;
  border: 0 dashed transparent;
}
.qtip-cluetip .qtip-titlebar {
  background-color: #87876A;
  color: #fff;
  border: 0 dashed transparent;
}
.qtip-cluetip .qtip-icon {
  border-color: #808064;
}
.qtip-cluetip .qtip-titlebar .ui-state-hover {
  border-color: #696952;
  color: #696952;
}
.qtip-tipsy {
  background: #000;
  background: rgba(0, 0, 0, 0.87);
  color: #fff;
  border: 0 solid transparent;
  font-size: 11px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 700;
  line-height: 16px;
  text-shadow: 0 1px #000;
}
.qtip-tipsy .qtip-titlebar {
  padding: 6px 35px 0 10px;
  background-color: transparent;
}
.qtip-tipsy .qtip-content {
  padding: 6px 10px;
}
.qtip-tipsy .qtip-icon {
  border-color: #222;
  text-shadow: none;
}
.qtip-tipsy .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}
.qtip-tipped {
  border: 3px solid #959FA9;
  background-color: #fff;
  color: #454545;
  font-weight: 400;
  font-family: serif;
}
.qtip-tipped .qtip-titlebar {
  border-bottom-width: 0;
  color: #fff;
  background: #3A79B8;
  background-image: -o-linear-gradient(top, #3A79B8, #2E629D);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);
}
.qtip-tipped .qtip-icon {
  border: 2px solid #285589;
  background: #285589;
}
.qtip-tipped .qtip-icon .ui-icon {
  background-color: #FBFBFB;
  color: #555;
}
.qtip-bootstrap {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
.qtip-bootstrap .qtip-titlebar {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.qtip-bootstrap .qtip-titlebar .qtip-close {
  right: 11px;
  top: 45%;
  border-style: none;
}
.qtip-bootstrap .qtip-content {
  padding: 9px 14px;
}
.qtip-bootstrap .qtip-icon {
  background: transparent;
}
.qtip-bootstrap .qtip-icon .ui-icon {
  width: auto;
  height: auto;
  float: right;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
.qtip-bootstrap .qtip-icon .ui-icon:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .4;
  filter: alpha(opacity=40);
}
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
  -webkit-filter: none;
          filter: none;
  -ms-filter: none;
}
.qtip .qtip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10;
}
.qtip-tip canvas {
  display: none;
}
x:-o-prefocus,
.qtip .qtip-tip {
  visibility: hidden;
}
.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas {
  position: absolute;
  color: #123456;
  background: transparent;
  border: 0 dashed transparent;
}
.qtip .qtip-tip canvas {
  top: 0;
  left: 0;
}
.qtip .qtip-tip .qtip-vml {
  behavior: url(#default#VML);
  display: inline-block;
  visibility: visible;
}
#qtip-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#qtip-overlay.blurs {
  cursor: pointer;
}
#qtip-overlay div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(Opacity=70)";
}
.qtipmodal-ie6fix {
  position: absolute !important;
}
.c-header {
  background-color: #fff;
  padding-top: 5px;
  position: relative;
  z-index: 1;
  box-shadow: 0px -58px 206px -23px #000;
}
.c-header__row {
  display: table;
  width: 100%;
}
.c-header__col {
  display: table-cell;
  padding: 20px 0;
  vertical-align: middle;
}
.c-header__col--logobox {
  width: 255px;
}
.c-header__col--contacts {
  width: 225px;
  text-align: right;
}
.c-header__logo {
  display: block;
  text-decoration: none;
  border: 0;
  outline: none;
}
.c-header__logo img {
  max-width: 100%;
}
.c-header__menu {
  margin-left: -30px;
}
.c-header__menu-item {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  position: relative;
}
.c-header__menu-item:after {
  content: "";
  width: 17px;
  height: 1px;
  position: absolute;
  right: -25px;
  top: 50%;
  margin-top: -1px;
  background-color: #000;
  display: inline-block;
  vertical-align: middle;
}
.c-header__menu-item:hover {
  color: #399200;
}
.c-header__menu-item--last:after {
  display: none;
}
.c-header__infotext {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.286;
  font-weight: 300;
}
.c-header__tel {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #399200;
  text-decoration: none;
  font-weight: 500;
}
.c-footer {
  margin-top: 50px;
}
.c-footer__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.429;
  font-weight: 300;
  margin-bottom: 10px;
}
.c-footer__text a {
  color: inherit;
}
.c-footer__text a:hover {
  color: #399200;
  text-decoration: none;
}
.c-footer__text b {
  font-weight: 500;
}
.c-footer__row {
  display: table;
  width: 100%;
}
.c-footer__col {
  display: table-cell;
  vertical-align: top;
}
.c-footer__col--1 {
  width: 225px;
}
.c-footer__col--2 {
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
}
.c-footer__col__3 {
  width: 340px;
  padding-right: 30px;
}
.c-footer__tel {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.2;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.c-footer__tel:hover {
  color: #399200;
}
.c-footer__social {
  margin-left: -3px;
}
.c-footer__social-item {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  transition: background 0.3s ease-in-out;
}
.c-footer__social-item i {
  display: inline-block;
  vertical-align: middle;
}
.c-footer__social-item:hover {
  background-color: #399200;
}
.c-footer__menu-item {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
  color: inherit;
}
.c-footer__menu-item:hover {
  color: #399200;
  text-decoration: none;
}
.c-box {
  background-color: #f5f5f5;
}
.c-hero {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #c2d8a9;
  background: #f5f5f5 url(../images/c-hero--stage.png) no-repeat center bottom;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.c-hero:after {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  content: "";
  width: 4290px;
  background: url(../images/c-hero--clouds.png);
  animation-name: MOVE-BG;
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.c-hero__container {
  height: 450px;
  padding-top: 35px;
  position: relative;
  z-index: 1;
}
.c-hero__flag {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: -18px;
  border-left: 2px solid #c9b290;
  padding-left: 18px;
}
.c-hero__flag:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 32px;
  background: url(../images/c-hero--flag.png) no-repeat center center;
}
.c-hero__flag-text {
  width: 145px;
  padding-top: 50px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.429;
  font-weight: 300;
}
.c-hero__flag-text a {
  color: red;
}
.c-hero__houses {
  position: absolute;
  bottom: -2px;
  left: -30px;
  right: 0;
  text-align: center;
}
.c-hero__title {
  text-align: center;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.2;
  font-family: 'Bad Script', cursive;
}
.c-hero__img {
  display: inline-block;
  vertical-align: bottom;
}
.c-hero__house {
  height: 220px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 140px;
  margin-left: 30px;
  margin-right: -0.25em;
  text-decoration: none;
}
.c-hero__house:hover .c-hero__label {
  color: #399200;
  text-decoration: underline;
}
.c-hero__imgbox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
  line-height: 0;
}
.c-hero__house--1 .c-hero__img {
  margin-left: -10px;
}
.c-hero__house--2 .c-hero__img {
  margin-left: -22px;
}
.c-hero__house--3 .c-hero__img {
  margin-left: -11px;
}
.c-hero__label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
  transition: color .3s;
}
.c-hero__info {
  font-size: 14px;
  color: #c0c0c0;
  font-weight: 300;
}
@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(2860px);
            transform: translateX(2860px);
  }
}
@-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(2860px);
            transform: translateX(2860px);
  }
}
.c-icon--bird {
  background-position: -230px -123px;
  width: 45px;
  height: 41px;
}
.c-icon--bird1 {
  background-position: -63px -180px;
  width: 37px;
  height: 39px;
}
.c-icon--boat {
  background-position: -93px 0px;
  width: 67px;
  height: 51px;
}
.c-icon--bycicle {
  background-position: -77px -64px;
  width: 59px;
  height: 41px;
}
.c-icon--eat {
  background-position: -230px -62px;
  width: 42px;
  height: 51px;
}
.c-icon--fb {
  background-position: -146px -88px;
  width: 9px;
  height: 17px;
}
.c-icon--inst {
  background-position: -224px -180px;
  width: 15px;
  height: 16px;
}
.c-icon--konek {
  background-position: 0px -180px;
  width: 53px;
  height: 40px;
}
.c-icon--mangal {
  background-position: -230px 0px;
  width: 46px;
  height: 52px;
}
.c-icon--marker {
  background-position: 0px -230px;
  width: 18px;
  height: 30px;
}
.c-icon--odnoklassniki {
  background-position: -28px -230px;
  width: 10px;
  height: 18px;
}
.c-icon--pine-cone {
  background-position: -125px -119px;
  width: 32px;
  height: 38px;
}
.c-icon--plan-1 {
  background-position: -190px -180px;
  width: 24px;
  height: 20px;
}
.c-icon--plan-2 {
  background-position: -170px -62px;
  width: 40px;
  height: 37px;
}
.c-icon--plan-3 {
  background-position: -110px -180px;
  width: 28px;
  height: 32px;
}
.c-icon--plan-4 {
  background-position: -167px -119px;
  width: 34px;
  height: 33px;
}
.c-icon--plan-5 {
  background-position: -148px -180px;
  width: 32px;
  height: 28px;
}
.c-icon--plan-6 {
  background-position: 0px 0px;
  width: 83px;
  height: 54px;
}
.c-icon--sani {
  background-position: 0px -64px;
  width: 67px;
  height: 45px;
}
.c-icon--sky {
  background-position: 0px -119px;
  width: 49px;
  height: 51px;
}
.c-icon--swim {
  background-position: -59px -119px;
  width: 56px;
  height: 38px;
}
.c-icon--tw {
  background-position: -146px -64px;
  width: 14px;
  height: 14px;
}
.c-icon--vk {
  background-position: -249px -180px;
  width: 19px;
  height: 12px;
}
.c-icon--walley {
  background-position: -170px 0px;
  width: 50px;
  height: 52px;
}
.c-plan {
  width: 785px;
  height: 454px;
  position: relative;
  margin: auto;
}
.c-plan--abs {
  position: absolute;
  right: 360px;
  top: 50%;
  margin-top: -227px;
}
.c-plan__container {
  position: relative;
}
.c-plan__container:before,
.c-plan__container:after {
  content: " ";
  display: table;
  clear: both;
}
.c-plan__container .c-adds {
  float: right;
}
.c-plan__wrapper {
  overflow: hidden;
}
.c-plan__bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/plan.png) no-repeat 50% 50%;
}
.c-plan__unit {
  position: absolute;
}
.c-plan__unit-content {
  display: none;
}
.c-plan__unit--type-1 {
  width: 24px;
  height: 20px;
}
.c-plan__unit--type-2 {
  width: 40px;
  height: 37px;
}
.c-plan__unit--type-3 {
  width: 28px;
  height: 32px;
}
.c-plan__unit--type-4 {
  width: 34px;
  height: 33px;
}
.c-plan__unit--type-5 {
  width: 32px;
  height: 28px;
}
.c-plan__unit--type-6 {
  width: 32px;
  height: 28px;
}
.c-plan__unit[data-position="1-1"] {
  left: 480px;
  top: 389px;
}
.c-plan__unit[data-position="1-2"] {
  left: 475px;
  top: 366px;
}
.c-plan__unit[data-position="1-3"] {
  left: 471px;
  top: 344px;
}
.c-plan__unit[data-position="1-4"] {
  left: 467px;
  top: 322px;
}
.c-plan__unit[data-position="1-5"] {
  left: 457px;
  top: 295px;
}
.c-plan__unit[data-position="1-6"] {
  left: 460px;
  top: 265px;
  -webkit-transform: rotateZ(12deg);
          transform: rotateZ(12deg);
}
.c-plan__unit[data-position="2-1"] {
  left: 437px;
  top: 220px;
}
.c-plan__unit[data-position="3-1"] {
  left: 535px;
  top: 179px;
}
.c-plan__unit[data-position="3-2"] {
  left: 461px;
  top: 158px;
  -webkit-transform: rotateZ(34deg);
          transform: rotateZ(34deg);
}
.c-plan__unit[data-position="4-1"] {
  left: 571px;
  top: 172px;
}
.c-plan__unit[data-position="4-2"] {
  left: 492px;
  top: 173px;
}
.c-plan__unit[data-position="5-1"] {
  left: 558px;
  top: 53px;
}
.c-plan__unit[data-position="5-2"] {
  left: 508px;
  top: 48px;
}
.c-plan__unit[data-position="5-3"] {
  left: 463px;
  top: 50px;
  -webkit-transform: rotateZ(-23deg);
          transform: rotateZ(-23deg);
}
.c-plan__unit[data-position="6-1"] {
  left: 644px;
  top: 218px;
}
.c-adds {
  width: 310px;
}
.c-adds__title {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
  height: 20px;
  position: relative;
}
.c-adds__title:before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 50%;
  height: 10px;
  width: 50px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-top-left-radius: 5px;
}
.c-adds__title:after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  top: 50%;
  height: 10px;
  width: 50px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-top-right-radius: 5px;
}
.c-adds__content {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 35px 40px;
  text-align: center;
}
.c-adds__footer {
  height: 44px;
  text-align: center;
  position: relative;
}
.c-adds__footer:before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: 50%;
  height: 24px;
  width: 118px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom-left-radius: 5px;
}
.c-adds__footer:after {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  bottom: 50%;
  height: 24px;
  width: 118px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom-right-radius: 5px;
}
.c-adds__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.429;
}
.c-adds__icons {
  margin-left: -2%;
  margin-bottom: 35px;
  margin-bottom: 2.188rem;
}
.c-adds__icons-item {
  display: inline-block;
  vertical-align: middle;
  width: 31.333%;
  text-align: center;
  margin: 0 -0.25em 2% 2%;
}
.c-map {
  height: 462px;
  position: relative;
  width: 100%;
}
.c-map__content {
  background-color: #fff;
  position: absolute;
  z-index: 1;
  height: 430px;
  width: 255px;
  top: 20px;
  padding: 30px;
  text-align: left;
}
.c-map__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.c-map__addr {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.333;
  text-align: left;
  margin-bottom: 30px;
}
.c-map__logo {
  display: block;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.c-map__contacts {
  text-align: left;
  margin-bottom: 30px;
}
.c-map__contacts small {
  display: block;
  font-size: 14px;
}
.c-map__tel {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.333;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.c-map__tel:hover {
  color: #399200;
}
.c-map__yandex {
  padding-left: 27px;
  display: block;
  color: #399200;
  position: relative;
}
.c-map__yandex:hover {
  text-decoration: none;
}
.c-map__yandex i {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
}
.c-advantage {
  display: inline-block;
  vertical-align: top;
  width: 29.333%;
  margin: 0 -0.25em 3% 4%;
}
.c-advantage__list {
  margin-left: -4%;
}
.c-advantage__title {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.333;
  font-family: 'Bad Script', cursive;
  color: #399200;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.c-advantage__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.429;
  font-weight: 300;
}
.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.u-mb40 {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.u-mb80 {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
.u-mt80 {
  margin-top: 80px;
  margin-top: 5rem;
}
.u-mb30 {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
.u-mb20 {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
.u-mb10 {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
.u-green {
  color: #399200;
}
.u-underline {
  border-bottom: 1px solid;
  display: inline-block;
}
.u-text-center {
  text-align: center;
}
