.c-advantage {
	display: inline-block;
	vertical-align: top;
	width: 29.333%;
	margin: 0 -.25em 3% 4%;

	&__list {
		margin-left: -4%;
	}

	&__title {
		.fontSizer(30, 40);
		font-family: @cursive-font-family;
		color: @green;
		.remMb(20)
	}

	&__text {
		.fontSizer(14, 20);
		font-weight: 300;
	}
}