.c-icon--bird {
  background-position: -230px -123px;
  width: 45px;
  height: 41px;
}
.c-icon--bird1 {
  background-position: -63px -180px;
  width: 37px;
  height: 39px;
}
.c-icon--boat {
  background-position: -93px 0px;
  width: 67px;
  height: 51px;
}
.c-icon--bycicle {
  background-position: -77px -64px;
  width: 59px;
  height: 41px;
}
.c-icon--eat {
  background-position: -230px -62px;
  width: 42px;
  height: 51px;
}
.c-icon--fb {
  background-position: -146px -88px;
  width: 9px;
  height: 17px;
}
.c-icon--inst {
  background-position: -224px -180px;
  width: 15px;
  height: 16px;
}
.c-icon--konek {
  background-position: 0px -180px;
  width: 53px;
  height: 40px;
}
.c-icon--mangal {
  background-position: -230px 0px;
  width: 46px;
  height: 52px;
}
.c-icon--marker {
  background-position: 0px -230px;
  width: 18px;
  height: 30px;
}
.c-icon--odnoklassniki {
  background-position: -28px -230px;
  width: 10px;
  height: 18px;
}
.c-icon--pine-cone {
  background-position: -125px -119px;
  width: 32px;
  height: 38px;
}
.c-icon--plan-1 {
  background-position: -190px -180px;
  width: 24px;
  height: 20px;
}
.c-icon--plan-2 {
  background-position: -170px -62px;
  width: 40px;
  height: 37px;
}
.c-icon--plan-3 {
  background-position: -110px -180px;
  width: 28px;
  height: 32px;
}
.c-icon--plan-4 {
  background-position: -167px -119px;
  width: 34px;
  height: 33px;
}
.c-icon--plan-5 {
  background-position: -148px -180px;
  width: 32px;
  height: 28px;
}
.c-icon--plan-6 {
  background-position: 0px 0px;
  width: 83px;
  height: 54px;
}
.c-icon--sani {
  background-position: 0px -64px;
  width: 67px;
  height: 45px;
}
.c-icon--sky {
  background-position: 0px -119px;
  width: 49px;
  height: 51px;
}
.c-icon--swim {
  background-position: -59px -119px;
  width: 56px;
  height: 38px;
}
.c-icon--tw {
  background-position: -146px -64px;
  width: 14px;
  height: 14px;
}
.c-icon--vk {
  background-position: -249px -180px;
  width: 19px;
  height: 12px;
}
.c-icon--walley {
  background-position: -170px 0px;
  width: 50px;
  height: 52px;
}
