* {
	box-sizing: border-box;
}
html {
	font-size: @base-font-size;
	height: 100%;
}
body {
	font-family: @base-font-family;
	font-size: @base-font-size;
	line-height: @base-line-height;
	color: @base-color;
	background: #cfcdcd url(../images/pattern_wood.png);
	-webkit-font-smoothing: antialiased;
	min-width: @base-width;
	height: 100%;
}

.l-container {
	width: 1010px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	
	&--expand {
		max-width: 1200px;
		min-width: @base-width;
		width: auto;
	}
}

.l-row {
	.clearfix();
	margin-left: -15px;
	margin-right: -15px;
}

.l-page {
	min-height: 100%;
	padding-bottom: 30px;
}

.l-whitebox {
	background-color: #fff;

	box-shadow: inset 0px 10px 30px  #000;
}

.l-col {
	float: left;
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 1px;
	position: relative;
}
.l-content {
	text-align: left;
	.fontSizer(18, 28);
	font-weight: 300;

	p {
		.remMb(30);
	}

	strong {
		font-weight: 500;
	}
}
.l-main {
	padding: 40px;
	.remMb(40);
	.remMt(40);
	background-color: #fff;
	.clearfix();

	&__title {
		padding-bottom: 15px;
		border-bottom: 1px solid @gray-lighter;
		.remMb(30)
	}
}

.l-top-content {
	background-color: #fff;
	padding: 45px 0;
	.remMb(50);
	position: relative;

	&--arrowed {
		box-shadow: 0px 6px 30px -10px #000;
	}

	&--arrowed:after {
		border-top: 20px solid #fff;
		border-left: 26px solid transparent;
		border-right: 26px solid transparent;
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -26px;
	}
}

.c-h1 {
	.fontSizer(50, 60);
	.remMb(40);
	font-family: @cursive-font-family;

	&--bordered {
		border-bottom: 1px solid #dbdbdb;
	}
}

.c-text {
	max-width: 710px;
	margin: auto;
	.fontSizer(18, 28)
}

.c-h2 {
	.fontSizer(30, 40);
	.remMb(40);
	font-family: @cursive-font-family;
}

.c-icon {
	display: inline-block;
	background-image: data-uri("../images/c-icon-sprite.png");
}